// Primary colors
$primary-blue: #13426b !default;
$primary-blue-20: #d0d9e1 !default;
$primary-blue-70: #426889 !default;
$primary-blue-110: #113b60 !default;
$primary-blue-120: #0f3556 !default;
$primary-blue-130: #0d2e4b !default;
$primary-blue-140: #0b2840 !default;

$primary-red: #e6223e !default;
$primary-red-20: #fad3d8 !default;
$primary-red-70: #ee6478 !default;
$primary-red-110: #cf1f38 !default;
$primary-red-120: #b81b32 !default;
$primary-red-130: #a1182b !default;
$primary-red-140: #8a1425 !default;

$primary-logo: #f4364c !default;

$primary-charcoal: #333d47 !default;
$primary-charcoal-80: #5b636b !default;

$primary-pebble: #d1dde6 !default;
$primary-pebble-50: #e8eef3 !default;

$primary-silver: #9d9d9d !default;

// Monotone colors
$mono-444444: #444444 !default;
$mono-868b8c: #868b8c !default;
$mono-d6d8da: #d6d8da !default;
$mono-eeeff0: #eeeff0 !default;
$mono-f7f7f8: #f7f7f8 !default;
$mono-ffffff: #ffffff !default;
$mono-000000: #000000 !default;

// Secondary colors
$secondary-turquoise: #26cad3 !default;
$secondary-gold: #ffb81c !default;
$secondary-gold-20: #fff1d2 !default;
$secondary-violet: #5e366e !default;
$secondary-violet-20: #dfd7e2 !default;
$secondary-salmon: #cc4762 !default;
$secondary-aquamarine: #b5e3d8 !default;
$secondary-yellow: #fedd00 !default;
$secondary-dark-violet: #403a60 !default;
$secondary-pacific-blue: #41748d !default;
$secondary-spring-green: #00a758 !default;
$secondary-spring-green-20: #ccedde !default;
$secondary-pebble-20: #f6f8fa !default;

// font
$font-family-base: "FS Elliot Pro", Arial;
$font-size-base: 16px;
$font-size-sub: 14px;
$font-size-disclaimer: 12px;
$font-size-Subscript: 10px;

// header
$h0: 56px;
$h1: 48px;
$h2: 36px;
$h3: 30px;
$h4: 26px;
$h5: 22px;
$h6: 18px;
$h7: 16px;
